body {
  margin: auto;
  background: rgb(238, 235, 231);
}

a {
  color: black;
  list-style: none;
  text-decoration: none;
}

/* HEADER */
header {
  height: 135px;
}

#Header {
  z-index: 1;
  position: fixed;
  background: white;
  width: 100%;
}
#Header i, #Header #teste {
  display: none;
}

#barreInfo {
  margin-top: 0;
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  align-items: center;
  margin: auto;
}
#barreInfo img {
  height: 100px;
}
#barreInfo li {
  color: black;
}

/* PREMIERE SECTION */
#PremierePartie {
  width: 100%;
  height: 450px;
  text-align: center;
  margin-bottom: 115px;
}
#PremierePartie img {
  width: 95%;
  max-height: 100%;
}
#PremierePartie #ProfessionSamira {
  position: relative;
  margin: auto;
  font-size: 54px;
  bottom: 85%;
  color: rgba(14, 1, 1, 0.517);
}
#PremierePartie #PrendreRdv {
  text-align: center;
  border: 3px solid rgb(134, 212, 208);
  background: rgb(134, 212, 208);
  border-radius: 30px 30px 30px 30px;
  width: 27%;
  font-size: 17px;
  position: relative;
  margin: auto;
  bottom: 59%;
}

/* DEUXIEME PARTIE  VOUS RENCONTREZ */
#VousRencontrez {
  height: 600px;
  width: 100%;
  margin-bottom: 30px;
}
#VousRencontrez #VousRencontrezContainer {
  display: flex;
  justify-content: space-around;
  height: 100%;
}
#VousRencontrez #VousRencontrezImg {
  width: 45%;
}
#VousRencontrez #VousRencontrezImg img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 90%;
     object-position: 90%;
}
#VousRencontrez #VousRencontrezTexte {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: justify;
}
#VousRencontrez #VousRencontrezTexte li {
  font-size: 22px;
}
#VousRencontrez #VousRencontrezTexte p {
  font-size: 22px;
}

/* TROISIEME PARTIE MA PRATIQUE */
#MaPratique {
  height: 600px;
  width: 100%;
}
#MaPratique #MaPratiqueContainer {
  display: flex;
  justify-content: space-around;
  height: 100%;
}
#MaPratique #MaPratiqueContainer #MaPratiqueImg {
  width: 45%;
}
#MaPratique #MaPratiqueContainer #MaPratiqueImg img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 90%;
     object-position: 90%;
}
#MaPratique #MaPratiqueContainer #MaPratiqueTexte {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: justify;
}
#MaPratique #MaPratiqueContainer #MaPratiqueTexte li {
  font-size: 22px;
}
#MaPratique #MaPratiqueContainer #MaPratiqueTexte p {
  font-size: 22px;
}

/* PARTIE INFORMATIONS EXPERIENCES */
#ExperiencesPro {
  width: 100%;
  background-color: white;
  margin-top: 50px;
}
#ExperiencesPro #ExperienceProContainer {
  width: 95%;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
#ExperiencesPro #ExperienceProContainer .ExperienceProCarte {
  margin-top: 50px;
  margin-bottom: 50px;
  border: 3px rgb(238, 235, 231) solid;
  border-radius: 5%;
  width: 27%;
  height: 560px;
  text-align: center;
  background-color: rgb(238, 235, 231);
}
#ExperiencesPro #ExperienceProContainer .ExperienceProCarte p {
  font-size: 21px;
}
#ExperiencesPro #ExperienceProContainer .ExperienceProCarteTexte {
  margin-top: 40px;
}
#ExperiencesPro #ExperienceProContainer .ExperienceProCarteTexte h3 {
  color: rgb(61, 176, 170);
}
#ExperiencesPro #ExperienceProContainer .ExperienceProCarteImg {
  height: 130px;
  width: 150px;
  margin: auto;
  margin-top: 20px;
  background-color: white;
  border-radius: 50%;
  border: 13px white solid;
}
#ExperiencesPro #ExperienceProContainer .ExperienceProCarteImg img {
  width: 100%;
  height: 100%;
}

/* Contact */
footer {
  background: rgb(134, 212, 208);
  height: 50px;
}

#ContainerContact ul {
  display: flex;
  justify-content: space-around;
}
#ContainerContact ul i {
  font-size: 34px;
  margin-top: 40%;
}

/* RESPONSIVE MEDIA QUERIES */
@media (max-width: 700px) {
  header {
    height: 120px;
  }
  #Header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #barreInfo {
    justify-content: space-between;
    width: 80%;
  }
  #barreInfo li {
    display: none;
  }
  #barreInfo i {
    display: flex;
    font-size: 34px;
  }
  #barreInfo .fa-bars:hover + #teste {
    color: red;
    display: inline-block;
    flex-direction: column;
    position: absolute;
    top: 0px;
    font-size: 30px;
    background-color: black;
    width: 30%;
    height: 300px;
    left: 0;
  }
  #barreInfo img {
    margin: auto;
  }
  #PremierePartie {
    margin-bottom: 0;
    height: 200px;
  }
  #PremierePartie img {
    height: 200px;
  }
  #PremierePartie #ProfessionSamira {
    font-size: 27px;
    bottom: 173px;
  }
  #PremierePartie #PrendreRdv {
    display: none;
  }
  #PremierePartie #PrendreRdv p {
    height: 110px;
    width: 130px;
    font-size: 12px;
    font-weight: 700;
    width: 95px;
  }
  /* JE VIENS DE COMMENCER FAUT VOIR SI TOUT EST NECESSAIRE */
  #VousRencontrez {
    height: 700px;
    margin-bottom: 0px;
  }
  #VousRencontrez #VousRencontrezContainer {
    flex-direction: column-reverse;
  }
  #VousRencontrez #VousRencontrezImg {
    width: 100%;
    height: 300px;
  }
  #VousRencontrez #VousRencontrezTexte {
    width: 95%;
    height: 100%;
    margin: auto;
    margin-top: 35px;
  }
  #VousRencontrez #VousRencontrezTexte li {
    font-size: 15px;
  }
  #VousRencontrez #VousRencontrezTexte p {
    font-size: 15px;
  }
  #VousRencontrez #VousRencontrezTexte h2 {
    font-size: 16px;
  }
  #MaPratique {
    height: 700px;
  }
  #MaPratique #MaPratiqueContainer {
    flex-direction: column;
    height: 100%;
  }
  #MaPratique #MaPratiqueContainer #MaPratiqueImg {
    width: 100%;
    height: 300px;
  }
  #MaPratique #MaPratiqueContainer #MaPratiqueImg img {
    -o-object-position: 50%;
       object-position: 50%;
  }
  #MaPratique #MaPratiqueContainer #MaPratiqueTexte {
    margin: auto;
    width: 95%;
    margin-bottom: 20px;
  }
  #MaPratique #MaPratiqueContainer #MaPratiqueTexte li {
    font-size: 15px;
  }
  #MaPratique #MaPratiqueContainer #MaPratiqueTexte p {
    font-size: 15px;
  }
  #MaPratique #MaPratiqueContainer #MaPratiqueTexte h2 {
    font-size: 16px;
  }
  #ExperiencesPro {
    margin-top: 0;
  }
  #ExperiencesPro #ExperienceProContainer {
    height: 1750px;
    justify-content: space-between;
    flex-direction: column;
  }
  #ExperiencesPro #ExperienceProContainer .ExperienceProCarte {
    margin: auto;
    width: 95%;
    height: 540px;
  }
}/*# sourceMappingURL=style.css.map */